---
import Title from "@components/shared/Title.astro";
import MainLayout from "../../Layouts/MainLayout.astro";
import { Counter } from "@components/Counter";

---

<MainLayout title="Favoritos">
    <Title>Favoritos</Title>
   <Counter client:load />

</MainLayout>
