---
import Title from "@components/shared/Title.astro";
import MainLayout from "../../Layouts/MainLayout.astro";
import { Counter } from "@components/Counter";
import { FavoritePokemons } from "@components/pokemons/FavoriteList";
---

<MainLayout title="Favoritos">
    <Title>Favoritos</Title>
    <FavoritePokemons client:only="solid-js" />
</MainLayout>
