---
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../Layouts/MainLayout.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;
console.log("🚀- data:", data);

const title = "Poke Statick | HOME";
---

<MainLayout title={title}>
	<h1 class="text-3xl">PokeList</h1>
	<hr class="p-2" />

	<section 
		arial-label="Listado de Pokemons"
		class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-6 gap-4 mt-2.5"
	>
		{
			data.results.map((pokemon) => (
				<PokemonCard name={pokemon.name} url={pokemon.url} />
			))
		}
	</section>
</MainLayout>
